<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Complain Nigeria-View Complaint</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/static/css2/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css3/style.css">
    <link rel="stylesheet" href="/static/css2/bootstrap.min.css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <style>
        #one:hover{
        color: black !important;
        }
       #boxes .bi{
       float: left;
       margin-right: 3.5vw;
       margin-left: 3.5vw;
       }
       .bi {width: 21vw;}
@media screen and (max-width: 700px) {
  #boxes .bi{
        display: flex;
        flex-direction: column;
        float: none;
        width: 100%;
        margin: 20px;
        justify-content: center;
        align-items: center;
  }
}
    </style>
</head>
<body>
 <div class="half">
     <div class="bg order-1 order-md-2" style="background-image: url('/static/images/babatunde-olajide-jcQdBcW7Tmw-unsplash.jpg');background-size:cover;">
         <div style="padding-left:15px;padding-top:15px;"><a href="{% url 'logout' %}" style="text-decoration:none;color:green;" id="one">Back</a></div>
         <p style="padding-top: 40px;color:white;font-size:30px;text-align:center;font-weight:bold;">View Complaints</p></div>
    <div class="order-2 order-md-1">
    <div class="contents" style="background:none">
<br/>
<form action="{% url 'naijacomplainer:searchposts' %}" method="GET" value="{{request.GET.q}}">
<div class="text-center my-3 d-block">
 <input type="text" name="q" value="{{request.GET.q}}" placeholder="View complaints"/>
<input type="submit" name="submit" value="Search"/>
</div>
</form>

<p hidden id="filter_date">{{filter_date}}</p>

<div id="boxes" style="box-sizing: border-box;display: inline-block;padding:0 7vw 0 7.5vw;">
    <div class="bi" style="border: solid 4px blue; min-height: 21vw; border-radius: 6%; font-size: 1.3vw;">

            {% if sorted_list_state %}
    <div style="text-align:center;list-style-position:inside;">
                WORST STATE BY COMPLAINTS
        {% for state in sorted_list_state %}
        <ul>
        <li>{{ state.state }} {{ state.count }}</li>
        </ul>
        {% endfor %}
    </div>
    {% endif %}
    <br>
    <br>

    </div>


    <div class="bi" style="border: solid 4px blue;min-height: 21vw;border-radius: 6%; font-size: 1.3vw;">

            {% if sorted_list_nature %}
    <div style="text-align:center;list-style-position:inside;">
                TOP COMPLAINTS
        {% for nature in sorted_list_nature %}
    <ul>
    <li>{{ nature.natureOfComplaint }} {{ nature.count }}</li>
    </ul>
    {% endfor %}
    </div>
    {% endif %}
    <br>
    <br>

    </div>

    <div class="bi" style="border: solid 4px blue;min-height: 21vw;border-radius: 6%; font-size: 1.3vw;">

       {% if sorted_list_against %}
    <div style="text-align:center;list-style-position:inside;">
                TOP COMPLAINTS AGAINST
        {% for against in sorted_list_against %}
        <ul>
        <li>{{ against.complaintIsAgainst }} {{ against.count }}</li>
        </ul>
        {% endfor %}
    </div>
    {% endif %}
    <br>
    <br>

    </div>
</div>

{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}
<h1>Results for <b>{{ request.GET.q }}</b></h1>

<br/><br/>

       <div class="container-fluid">
<table class="table table-striped table-bordered table-responsive-sm responsive table-responsive-md table-responsive-lg">
    <thead class="thead-dark">
    <tr>
        <th>Date</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>State</th>
        <th>Complaint is Against</th>
        <th>Nature of Complaint</th>
        <th>Complaint</th>
        <th>Media</th>

    </tr>
    </thead>
    <tbody>
{% for result in results %}

    <tr>
        <td>{{ result.date }}</td>
        {% if result.anonymous %}
        <td>Anonymous</td>
        {% else %}
        <td>{{ result.firstname }}</td>
        {% endif %}
        {% if result.anonymous %}
        <td>Anonymous</td>
        {% else %}
        <td>{{ result.lastname }}</td>
        {% endif %}
        <td>{{ result.state }}</td>
        <td>{{ result.complaintIsAgainst }}</td>
        <td>{{ result.natureOfComplaint }}</td>
        <td>{{ result.complaint }}</td>
        <td><a href="{% url 'images' result.id %}" style="color:green;" class="four"/>Media</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
</div>
<!--{% for result in results %}-->


<!--{{result.date}}-->
<!--<br/>-->

<!--{{result.firstname}}-->
<!--<br/>-->

<!--{% endfor %}-->
<br>
<br>
{% else %}
No search results for this query
{% endif %}
{% endif %}
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>